<div class="print">
    <div class="wlt-c-furg-content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <h1 class="mt-2 mb-1">Client Invoice Detail Report</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="text-right">
                        <button type="button" class="btn btn-sm text-muted" (click)="print()"><mat-icon
                                aria-hidden="false" aria-label="print icon">print</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wlt-c-furg-content-print" id="print-section">
        <table class="table">
            <tr>
                <td class="logo">
                    <!-- <img src="../../../../../assets/img/logo-white.png" /> -->
                    <img src="../../../../../assets/img/logo-sample.png" />
                </td>
                <td>
                    <h1>FREIGHTWATCH G PATOMOTOH SECURITY SERVICES SDN.BHD.<span>(357119-K)</span></h1>
                    <p>No. 24, 1ST Floor, Taman Bukit Emas,<br />
                        Jalan Tampin,<br />
                        70450 Seremban<br />
                        N.S.D.K</p>
                    <p> Tel : 06-677 2000, 06-678 2000 Fax : 06-677 9866</p>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <h3>Branch</h3>
                    <p>No. 24, 1ST Floor, Taman Bukit Emas,<br />
                        Jalan Tampin,<br />
                        70450 Seremban<br />
                        N.S.D.K</p>
                    <p> Tel : 06-677 2000, 06-678 2000 Fax : 06-677 9866</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="invoice-details">
                        <tr>
                            <th>Client</th>
                            <td>{{client['Name']}}</td>
                            <th>Invoice No</th>
                            <td>{{client['Branch']}}/{{invoice['InvoiceNo']}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>
                                <p>{{client['Address1']}},<br />
                                  {{client['Address2']}},<br />
                                  {{client['City']}},<br />
                                  {{client['State']}}-{{client['PostCode']}},<br />
                                    </p>
                                <p> Tel : {{client['Phone']}} Fax : {{client['Fax']}}</p>
                            </td>
                            <th>Date</th>
                            <td>{{formatDisplayDate(invoice['InvoiceDate'])}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="invoice-details">
                        <tr>
                            <th style="width: 150px; text-align:center; border: 1px solid #000;">Month</th>
                            <th style="text-align:center; border: 1px solid #000;">Particulars</th>
                            <th  style="width: 150px; text-align:center; border: 1px solid #000;">Amount</th>
                        </tr>


                        <tr *ngFor="let detail of details">
                            <td style="border: 1px solid #000;">{{returnMonthAndYear(invoice['InvoiceDate'])}}</td>
                            <td style="border: 1px solid #000;">
                                <table class="table">
                                    <tr>
                                        <td style="padding: 0;"></td>
                                        <td style="padding: 0;">{{detail['NoOfGuards']}} GUARDS</td>
                                        <td style="padding: 0;">X</td>
                                        <td style="padding: 0;">RM {{detail['Rate']}}</td>
                                        <td style="padding: 0;">X</td>
                                        <td style="padding: 0;">{{detail['NoOfHours']}} HOURS</td>
                                        <td style="padding: 0;">X</td>
                                        <td style="padding: 0;">{{detail['NoOfDays']}} Days</td>
                                    </tr>
                                </table>
                            </td>
                            <td class="text-right" style="border: 1px solid #000;"> {{detail['MonthTotal']}}</td>
                        </tr>

                        <tr>
                            <td style="border: 1px solid #000; border-bottom: 0; border-top: 0;"></td>
                            <td class="text-right" style="border: none; text-align: center; font-weight: bold;"> Service Charges</td>
                            <td class="text-right" style="border: 1px solid #000; border-top: 0; border-bottom: 0;"> {{invoice['ServiceCharges']}}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000; border-bottom: 0; border-top: 0;"></td>
                            <td class="text-right" style="border: none; text-align: center; font-weight: bold;"> Less</td>
                            <td class="text-right" style="border: 1px solid #000; border-top: 0; border-bottom: 0;">  0.00</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000; border-bottom: 0; border-top: 0;"></td>
                            <td class="text-right" style="border: none; text-align: center; font-weight: bold;"> 8% Government Tax</td>
                            <td class="text-right" style="border: 1px solid #000; border-top: 0; border-bottom: 0;">  {{invoice['TaxAmount']}}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000; border-bottom: 0; border-top: 0;"></td>
                            <td class="text-right" style="border: none; text-align: center; font-weight: bold;"> TOTAL :</td>
                            <td class="text-right" style="border: 1px solid #000; border-bottom: 0; font-weight: bold;">  {{invoice['ServiceCharges']+invoice['TaxAmount']}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><strong>NOTE :</strong> {{invoice['Note']}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td rowspan="3" style="width: 50%; vertical-align: bottom;">for FREIGHTWATCH G PATOMOTOH SECURITY SERVICES</td>
                            <td style="font-size: 14px;" >Any discrepancy to be advised directly to the accounts
                                department of this office. If no Complaint is received within 10
                                days the above account will be deemed correct.</td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;">Strictly no cash shall be paid to the collector. The company
                                hereby has the right to counter claim if it is paid in cash</td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px;">All Payments must be made by Cheque crossed "A/C Payee Only
                                /not Negotiable" to</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 14px;">Kindly remit payment within 15 days. The company reserves the right to levy 5% interest forthwith</td>
            </tr>
        </table>
    </div>
</div>
