<<<<<<< HEAD
.button-group {
    display: flex;
    flex-direction: row;
}

/* Optional: Add margin between buttons */
.button-group button { 
    height: 40px;;
    margin-right: 25px; 
    white-space: nowrap; 
=======
.button-group {
    display: flex;
    flex-direction: row;
}

/* Optional: Add margin between buttons */
.button-group button { 
    height: 40px;;
    margin-right: 25px; 
    white-space: nowrap; 
>>>>>>> 5207b82f409ea4dcb09404b90ab7324a99cbff87
}