<div class="wlt-c-furg-content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <h1 class="mb-1">Payroll/RBI Bank Salary Process</h1>
            </div><!-- /.col -->
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-1">
                <ol class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Payroll</a></li>
                    <li class="breadcrumb-item active">RBI Bank Salary Process</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<mat-card>
    <mat-card-content>
        <form [formGroup]="rbiBankSalaryForm">
            <div class="row" *ngIf="warningMessage === ''">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Salary Period</mat-label>
                        <input type="text" formControlName="Period" matInput [matDatepicker]="picker1" placeholder=""
                            autocomplete="off" (dateChange)="changePeriod('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Branch</mat-label>
                        <mat-select formControlName="Branch" (selectionChange)="onBranchSelectionChange($event)">
                            <mat-option *ngFor="let d of branchList" value="{{d.Code}}">{{d.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="warningMessage === ''">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <mat-label class="mr-3"><strong>Employee Type</strong></mat-label>
                    <br />
                    <mat-radio-group aria-label="Select a Type" formControlName="EmployeeType">
                        <mat-radio-button value="Guard">Guard</mat-radio-button>
                        <mat-radio-button value="Staff">Staff</mat-radio-button>
                        <mat-radio-button value="ALL">All</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row" *ngIf="warningMessage === ''">
                <div class="col-12 col-sm-12 col-md-4 col-lg-9">
                    <div class="btn-group" role="group">
                        <button class="btn wlt-c-furg-btn-primary m-1" (click)="onSearchClick()">Search</button>
                        <button class="btn wlt-c-furg-btn-primary m-1" (click)="onExportClick()" 
                                [disabled]="exportData.length === 0">Export to Excel</button>
                        <button class="btn wlt-c-furg-btn-success m-1" (click)="onExportCsvClick()" 
                                [disabled]="exportData.length === 0">Export to CSV</button>
                    </div>
                </div>
            </div>            
            <div class="table-responsive" *ngIf="warningMessage === '' && exportData.length > 0">
                <table mat-table [dataSource]="dataSource" class="wlt-table table-striped">
                    <ng-container matColumnDef="beneficiaryCode">
                        <th mat-header-cell *matHeaderCellDef> Beneficiary Code </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.BeneficiaryCode}} </td>
                    </ng-container>
                    <ng-container matColumnDef="beneficiaryAccountNumber">
                        <th mat-header-cell *matHeaderCellDef> Beneficiary Account No </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.BeneficiaryAccountNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="transactionAmount">
                        <th mat-header-cell *matHeaderCellDef> Transaction Amount </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.TransactionAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="beneficiaryName">
                        <th mat-header-cell *matHeaderCellDef> Beneficiary Name </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.BeneficiaryName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ifscCode">
                        <th mat-header-cell *matHeaderCellDef> IFSC Code </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.IFSCCode}} </td>
                    </ng-container>
                    <ng-container matColumnDef="beneficiaryBankName">
                        <th mat-header-cell *matHeaderCellDef> Beneficiary Bank Name </th>
                        <td mat-cell *matCellDef="let element" class="text-left"> {{element.BeneficiaryBankName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <br/>
            <div class="row" *ngIf="warningMessage === '' && exportData.length > 0">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                    <mat-radio-group formControlName="exportOption" aria-label="Export Options">
                        <mat-radio-button value="0" class="mr-3">Current Page</mat-radio-button>
                        <mat-radio-button value="1" class="mr-3">All Records</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </form>
        <br />
        <div *ngIf="warningMessage !==''">
            <mat-label style="color:red" [innerHTML]="warningMessage"></mat-label>
        </div>
        <div *ngIf="errorMessage !==''">
            <mat-label style="color:red" [innerHTML]="errorMessage"></mat-label>
        </div>
        <mat-paginator *ngIf="warningMessage === '' && exportData.length > 0" 
            [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-card-content>
</mat-card>

<!-- model pop up for logic started -->
<div [style.display]="showLoadingSpinner ? 'block' : 'none'"
    style="margin-top: -10.5rem; display: block; margin-left: -6.5rem;">
    <div class="d-flex justify-content-center">
        <span class="loader"></span>
    </div>
</div>
<!-- model pop up for logic ended -->
