<div class="wlt-c-furg-content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h1 class="mb-1">Client Master</h1>
      </div><!-- /.col -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-1">
        <ol class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Master</a></li>
          <li class="breadcrumb-item active">Client Master</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<mat-card>
  <mat-card-content>
    <div class="row" *ngIf="warningMessage ===''">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 order-3 order-md-1">
        <div class="text-right">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-3 order-2 order-md-1">
        <mat-label class="mr-3"><strong>Status</strong></mat-label><br />
        <mat-radio-group aria-label="Select a Status" (change)="statusSelectionChanged($event)">
          <mat-radio-button value="Active" checked>Active</mat-radio-button>
          <mat-radio-button value="Inactive">Inactive</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-5 order-1 order-md-2">
        <div class="text-right pt-2">
          <button *ngIf=" this.userAccessModel.createAccess == true || (currentUser== 'superadmin')"
            class="btn wlt-c-furg-btn-primary" class="btn wlt-c-furg-btn-primary"
            [routerLink]="['/master/client-master/new-client']"><mat-icon>add</mat-icon><span>New</span></button>
        </div>
      </div>
    </div>
    <div class="table-responsive" *ngIf="errorMessage =='' && dataSource !='' && warningMessage ===''">
      <table mat-table [dataSource]="dataSource" class="wlt-table table-striped" matSort
        (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="client_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Code </th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.Code}} </td>
        </ng-container>
        <ng-container matColumnDef="branch_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Code </th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.Branch}} </td>
        </ng-container>
        <ng-container matColumnDef="client_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.Address1}} </td>
        </ng-container>
        <ng-container matColumnDef="person_incharge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Person Incharge </th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.PersonIncharge}} </td>
        </ng-container>
        <ng-container matColumnDef="gstin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> GSTIN </th>
          <td mat-cell *matCellDef="let element" class="text-left">
            <span class="badge badge-info" *ngIf="element.GSTIN">{{element.GSTIN}}</span>
            <span class="text-muted" *ngIf="!element.GSTIN">-</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="pan_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PAN </th>
          <td mat-cell *matCellDef="let element" class="text-left">
            <span class="badge badge-warning" *ngIf="element.PANNumber">{{element.PANNumber}}</span>
            <span class="text-muted" *ngIf="!element.PANNumber">-</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="indian_state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Indian State </th>
          <td mat-cell *matCellDef="let element" class="text-left">{{element.IndianState || element.State}}</td>
        </ng-container>
        <ng-container matColumnDef="pin_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PIN Code </th>
          <td mat-cell *matCellDef="let element" class="text-left">{{element.PINCode || element.PostCode}}</td>
        </ng-container>
        <ng-container matColumnDef="compliance_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliance Status </th>
          <td mat-cell *matCellDef="let element" class="text-left">
            <span class="badge" [ngClass]="getComplianceBadgeClass(getOverallComplianceStatus(element))">
              {{ getOverallComplianceStatus(element) }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
          <td mat-cell *matCellDef="let element" class="text-left"> {{element.Status == 'Active' ? 'True': 'False'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef style="text-align:center; width: 120px;">
            Action
          </th>
          <td mat-cell *matCellDef="let row" style="text-align:center;">
            <a *ngIf="this.userAccessModel.readAccess == true || (currentUser == 'superadmin')" style="cursor:pointer;"
              class="wlt-c-furg-text-primary mr-2" matTooltip="View"><mat-icon aria-hidden="false"
                aria-label="edit icon" (click)="onEditClick(row)">edit</mat-icon></a>
            <a *ngIf="this.userAccessModel.deleteAccess == true || (currentUser == 'superadmin')"
              style="cursor:pointer;" class="wlt-c-furg-text-danger" matTooltip="Delete"><mat-icon aria-hidden="false"
                aria-label="trash icon" (click)="onDeleteClick(row.Code,row.Status)">delete_outline</mat-icon></a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="warningMessage !==''">
      <mat-label style="color:red" [innerHTML]="warningMessage"></mat-label>
    </div>
    <div *ngIf="errorMessage !==''">
      <mat-label style="color:red" [innerHTML]="errorMessage"></mat-label>
    </div>
    <mat-paginator *ngIf="warningMessage ===''" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons
      aria-label="Select page of clients">
    </mat-paginator>


  </mat-card-content>
</mat-card>
<!-- model pop up for logic started -->
<div [style.display]="showLoadingSpinner ? 'block' : 'none'"
  style="margin-top: -13.5rem; display: block; margin-left: -6.5rem;">
  <div class="d-flex justify-content-center">
    <span class="loader"></span>
  </div>
</div>
<!-- model pop up for logic ended -->