<<<<<<< HEAD
.s-no-column {
    width: 50px; /* Adjust the width as needed */
    text-align: center;
  }

  .name-column {
    width: 100px; /* Adjust the width as needed */
    text-align: left;
  }
=======
.s-no-column {
    width: 50px; /* Adjust the width as needed */
    text-align: center;
  }

  .name-column {
    width: 100px; /* Adjust the width as needed */
    text-align: left;
  }
>>>>>>> 5207b82f409ea4dcb09404b90ab7324a99cbff87
  