<div class="wlt-c-furg-content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <h1 class="mb-1">{{isEdit ? 'Edit' : 'Add'}} Quotation</h1>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 my-1">
        <ol class="breadcrumb float-md-right">
          <li class="breadcrumb-item"><a href="#">Quotation & Agreement</a></li>
          <li class="breadcrumb-item"><a href="#">Quotations</a></li>
          <li class="breadcrumb-item active">{{isEdit ? 'Update' : 'New'}} Quotation</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<mat-card>
  <mat-card-content>
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Quotation Period</mat-label>
            <input type="text" formControlName="QuotationDate" matInput [matDatepicker]="picker1"
                   placeholder="" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="Branch" (selectionChange)="getClientsByBranchID($event.value)">
              <mat-option *ngFor="let d of branchList" value="{{d.Code}}">{{d.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Client</mat-label>
            <mat-select formControlName="Client" (selectionChange)="checkClientStatus()">
              <mat-option *ngFor="let d of clientList" value="{{d.Code}}">{{d.Name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <mat-checkbox formControlName="IsValid">Valid For Current Month Only</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 wlt-c-furg-profile">
          <h2><span>Detail Item</span></h2>
        </div>
      </div>
      <div class="mt-2">
        <div class="table-responsive" formGroupName="details">
          <table class="mat-table wlt-table wlt-new-agreement">
            <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell">Type</th>
              <th class="mat-header-cell">Guards</th>
              <th class="mat-header-cell">Per Day</th>
              <th class="mat-header-cell">Per Hours</th>
              <th class="mat-header-cell">Working<br/> Hours</th>
              <th class="mat-header-cell">Working<br/> Days</th>
              <th class="mat-header-cell">Follow <br/>Calendar</th>
              <th class="mat-header-cell"> Month<br/> Total</th>
              <th class="mat-header-cell">Year<br/> Total</th>
              <th class="mat-header-cell">Discount</th>
              <th class="mat-header-cell">Discounted</th>
              <th class="mat-header-cell">Tax</th>
              <th class="mat-header-cell">Tax<br/> Amount</th>
              <th class="mat-header-cell">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr class="mat-row">
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <mat-label>Service Type</mat-label>
                  <mat-select formControlName="ServiceTypeID" (selectionChange)="onServiceTypeChange($event.value, 0)">
                    <mat-option value="">Select Service Type</mat-option>
                    <mat-option *ngFor="let service of serviceTypes" [value]="service.Id">
                      {{service.ServiceName}} ({{service.ServiceCode}})
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline" style="width: 45px !important;">
                  <input type="text" formControlName="NoOfGuards" (input)="DetailRowChange()" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline" style="width: 80px !important;">
                  <input type="text" formControlName="PerDay" (input)="onPerDayChange()" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline" style="width: 80px !important;">
                  <input type="text" formControlName="Rate" (input)="DetailRowChange()" matInput placeholder=""
                         autocomplete="off">
                  <button type="button" mat-icon-button matSuffix (click)="openCommercialDetails()" matTooltip="Commercial Breakdown">
                    <mat-icon>payments</mat-icon>
                  </button>
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline" style="width: 45px !important;">
                  <input type="text" formControlName="NoOfHours" (input)="DetailRowChange()" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline" style="width: 45px !important;">
                  <input type="text" formControlName="NoOfDays" (input)="DetailRowChange()" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-checkbox formControlName="FollowCalender" (change)="changeFollowCalender($event)"></mat-checkbox>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="MonthTotal" (input)="DetailRowChange()" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="YearTotal" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-checkbox formControlName="HasDiscount" (input)="DetailRowChange()"></mat-checkbox>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="DiscountAmount" matInput placeholder=""
                         autocomplete="off" (input)="DetailRowChange()">
                </mat-form-field>
                <br/>
                <mat-form-field appearance="outline">
                  <mat-label>Hours</mat-label>
                  <input type="text" formControlName="DiscountHour" matInput placeholder=""
                         autocomplete="off" (input)="DetailRowChange()">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-checkbox formControlName="IsTaxable" (change)="DetailRowChange()"></mat-checkbox>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="TaxAmount" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
              <td class="mat-cell">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="total" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
            </tr>
            <tr class="mat-header-row">
              <th class="mat-header-cell" colspan="2">Category</th>
              <th class="mat-header-cell" colspan="11">Reason</th>
            </tr>
            <tr class="mat-row">
              <td class="mat-cell" colspan="2">
                <mat-form-field appearance="outline">
                  <mat-select formControlName="Category">
                    <mat-option value="">
                      Select Category
                    </mat-option>
                    <mat-option value="Guard Absent">
                      Guard Absent
                    </mat-option>
                    <mat-option value="Discount (Item Lost)">
                      Discount (Item Lost)
                    </mat-option>
                    <mat-option value="Discount">
                      Discount
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="mat-cell" colspan="11">
                <mat-form-field appearance="outline">
                  <input type="text" formControlName="Reason" matInput placeholder=""
                         autocomplete="off">
                </mat-form-field>
              </td>
            </tr>
            <tr class="mat-row">
              <th class="mat-cell" colspan="13">
                <button type="button" class="btn wlt-c-furg-btn-primary mr-3" (click)="addItemDetails('add')">Add</button>
                <button type="button" class="btn wlt-c-furg-btn-secondary mr-3" (click)="addItemDetails('update')">Update</button>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="wlt-table table-striped wlt-new-agreement" matSort>
              <ng-container matColumnDef="SNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo </th>
                <td mat-cell *matCellDef="let element; let i = index" class="text-left"> {{ i + 1 }} </td>
              </ng-container>
              <ng-container matColumnDef="ServiceType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Type</th>
                <td mat-cell *matCellDef="let element" class="text-left"> 
                  <span *ngIf="element.ServiceType">{{ element.ServiceType.ServiceName }}</span>
                  <span *ngIf="!element.ServiceType">{{ element.Description }}</span>
                </td>
              </ng-container>
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.Description}} </td>
              </ng-container>
              <ng-container matColumnDef="NoOfGuards">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Guards</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.NoOfGuards}} </td>
              </ng-container>
              <ng-container matColumnDef="PerDay">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Per Day</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.PerDay}} </td>
              </ng-container>
              <ng-container matColumnDef="Rate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Per Head</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.Rate}} </td>
              </ng-container>
              <ng-container matColumnDef="NoOfHours">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Working Hours</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.NoOfHours}} </td>
              </ng-container>
              <ng-container matColumnDef="NoOfDays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Working Days</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.NoOfDays}} </td>
              </ng-container>
              <ng-container matColumnDef="FollowCalender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Follow Calendar</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.FollowCalender}} </td>
              </ng-container>
              <ng-container matColumnDef="MonthTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Month Total</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.MonthTotal}} </td>
              </ng-container>
              <ng-container matColumnDef="YearTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Year Total</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.YearTotal}} </td>
              </ng-container>
              <ng-container matColumnDef="HasDiscount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.HasDiscount}} </td>
              </ng-container>
              <ng-container matColumnDef="DiscountAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Discounted</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.DiscountAmount}} </td>
              </ng-container>
              <ng-container matColumnDef="DiscountHour">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Disc.Hour</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.DiscountHour}} </td>
              </ng-container>
              <ng-container matColumnDef="IsTaxable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.IsTaxable}} </td>
              </ng-container>
              <ng-container matColumnDef="TaxAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Amount</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.TaxAmount}} </td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.total}} </td>
              </ng-container>
              <ng-container matColumnDef="Category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.Category}} </td>
              </ng-container>
              <ng-container matColumnDef="Reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason</th>
                <td mat-cell *matCellDef="let element" class="text-left"> {{element.Reason}} </td>
              </ng-container>
              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef style="text-align:center; width: 120px;">
                  Action
                </th>
                <td mat-cell *matCellDef="let row; let index = index" style="text-align:center;">
                  <a style="cursor:pointer;" class="wlt-c-furg-text-primary mr-2" matTooltip="Edit" (click)="editRow(row,index)">
                    <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
                  </a>
                  <a style="cursor:pointer;" class="wlt-c-furg-text-success mr-2" matTooltip="Commercials" (click)="openCommercialDetails(row, index)">
                    <mat-icon aria-hidden="false" aria-label="payments icon">payments</mat-icon>
                  </a>
                  <a style="cursor:pointer;" class="wlt-c-furg-text-danger" matTooltip="Delete" (click)="deleteRow(row,index)">
                    <mat-icon aria-hidden="false" aria-label="trash icon">delete_outline</mat-icon>
                  </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea type="text" formControlName="Note" matInput placeholder=""></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button class="btn wlt-c-furg-btn-gray mr-3" type="button" (click)="cancel()"> Cancel</button>
            <button class="btn wlt-c-furg-btn-gray mr-3" type="button" (click)="exportToPDF(false)"> Preview PDF</button>
            <button class="btn wlt-c-furg-btn-gray mr-3" type="button" (click)="exportToPDF(true)"> Download PDF</button>
            <button class="btn wlt-c-furg-btn-primary"> {{isEdit ? 'Update' : 'Save'}}</button>
          </div>
        </div>
      </div>
    </form>
    <div>
      <div class="table-responsive mt-3">
        <table mat-table [dataSource]="quotationDataSource" class="wlt-table table-striped wlt-new-agreement" matSort
               (matSortChange)="announceSortChange($event)">
          <ng-container matColumnDef="SNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SNo </th>
            <td mat-cell *matCellDef="let element; let i = index" class="text-left"> {{ i + 1 }} </td>
          </ng-container>
          <ng-container matColumnDef="QuotationID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quotation Id </th>
            <td mat-cell *matCellDef="let element" class="text-left"> {{ element.ID }} </td>
          </ng-container>
          <ng-container matColumnDef="BranchName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name</th>
            <td mat-cell *matCellDef="let element" class="text-left"> {{element.BranchName}} </td>
          </ng-container>
          <ng-container matColumnDef="ClientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name</th>
            <td mat-cell *matCellDef="let element" class="text-left"> {{element.ClientName}} </td>
          </ng-container>
          <ng-container matColumnDef="QuotationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start</th>
            <td mat-cell *matCellDef="let element" class="text-left"> {{returnDate(element.QuotationDate)}} </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef style="text-align:center; width: 120px;">
              Action
            </th>
            <td mat-cell *matCellDef="let row" style="text-align:center;">
              <a *ngIf="this.userAccessModel.readAccess == true || currentUser == 'superadmin'" style="cursor:pointer;" class="wlt-c-furg-text-primary mr-2" matTooltip="Edit" [routerLink]="['/quotation-and-agreement/quotations/edit-quotation',row.ID]">
                <mat-icon
                  aria-hidden="false" aria-label="edit icon">edit
                </mat-icon>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="quotationDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: quotationDisplayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
